<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="zh-CN" layout:decorate="~{layout/layout}">
<head>
    <title>用户管理</title>
</head>
<body>
<div layout:fragment="content">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>编辑用户</legend>
    </fieldset>
    <form class="layui-form" th:action="@{/users/update}" method="post" lay-filter="dataForm">
        <input type="hidden" name="id" th:value="${item.id}">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">姓氏</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" th:value="${item.name}" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-inline">
                    <input type="text" id="birthday" name="birthday" th:value="${item.birthday}" lay-verify="required|date" placeholder="2018-06-11" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">手机号码</label>
                <div class="layui-input-inline">
                    <input type="tel" name="mobile" th:value="${item.mobile}" lay-verify="required|phone" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">电子邮箱</label>
                <div class="layui-input-inline">
                    <input type="text" name="email" th:value="${item.email}" lay-verify="email" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block" style="width: 515px;">
                <select id="roles" name="roles" lay-verify="required" xm-select="roles">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">保存</button>
                <a th:href="@{/users/page}" class="layui-btn layui-btn-primary">返回</a>
            </div>
        </div>
    </form>

    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var item = [[${item}]];
        var roleList = [[${roleList}]];
        layui.use(['form', 'laydate'], function(){
            var form = layui.form,
                laydate = layui.laydate,
                formSelects = layui.formSelects;

            form.val('dataForm', {
                birthday: moment(item.birthday).format('YYYY-MM-DD')
            });

            laydate.render({
                elem: '#birthday'
            });

            //local模式
            formSelects.data('roles', 'local', {
                arr: $.map(roleList, function (obj) {
                    obj.value = obj.value || obj.id;
                    return obj;
                })
            });

            // 设置选中的角色
            formSelects.value('roles', $.map(item.roleInfoList, function (obj) {
                return obj.id;
            }));
        });
        /*]]>*/
    </script>
</div>
</body>
</html>