<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="zh-CN" layout:decorate="~{layout/layout}">
<head>
    <title>用户管理</title>
</head>
<body>
<div layout:fragment="content">
    <div>
        <a th:href="@{/users/add}" class="layui-btn"><i class="layui-icon"></i>添加</a>
        账号：
        <div class="layui-inline">
            <input class="layui-input" name="username" id="username" th:value="${username}" autocomplete="off">
        </div>
        <button class="layui-btn" id="search">搜索</button>
    </div>

    <table class="layui-hide" id="data_table"></table>
    <div id="pagination"></div>

    <blockquote class="layui-elem-quote">
        <span>点击名称查询角色列表</span>
        <div id="list"></div>
    </blockquote>

    <form id="statusForm" th:action="@{/users/status}" method="post" style="display: none">
        <input type="hidden" name="id">
        <input type="hidden" name="enabled">
    </form>

    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var pageInfo = [[${pageInfo}]];
        layui.use(['table', 'form', 'laypage'], function(){
            var table = layui.table,
                form = layui.form,
                laypage = layui.laypage;

            //方法级渲染
            table.render({
                elem: '#data_table',
                data: pageInfo.list,
                cols: [
                    [
                        {checkbox: true, fixed: true}
                        ,{field:'username', title: '用户名', width: 150, sort: true}
                        ,{field:'name', title: '名称', templet: function (d) {
                            return '<a href="javascript:;" data-id="' + d.id + '" name="name">' + d.name + '</a>';
                        }}
                        ,{field:'age', title: '年龄', width: 70, sort: true, templet: function (d) {
                            return moment().diff(d.birthday, 'years');
                        }}
                        ,{field:'email', title: '电子邮箱', sort: true}
                        ,{field:'birthday', title: '生日', width: 105, sort: true, templet: function (d) {
                            return moment(d.birthday).format('YYYY-MM-DD')
                        }}
                        ,{field:'status', title: '状态', templet: function (d) {
                            var status = d.enabled;
                            var checked = '';
                            if (status === undefined) {
                                status = false;
                            }
                            if (status) {
                                checked = 'checked ';
                            }
                            return '<input type="checkbox" ' + checked + 'data-id="' + d.id + '" value="' + status + '" lay-skin="switch" lay-filter="status" lay-text="启用|禁用">';
                        }},
                        {field:'operation', title: '操作', templet: function (d) {
                            return '<div class="layui-btn-group">' +
                                '<a href="' + baseUrl + 'users/edit/' + d.id + '" class="layui-btn layui-btn-warm layui-btn-sm"><i class="layui-icon">&#xe642;</i></a>' +
                                '<a href="' + baseUrl + 'users/delete/' + d.id + '" class="layui-btn layui-btn-danger layui-btn-sm"><i class="layui-icon">&#xe640;</i></a>' +
                                '</div>'
                        }}
                    ]
                ]
            });

            $('table').on('click', 'a[name="name"]', function () {
                $.getJSON(baseUrl + 'users/info/' + $(this).data('id'), function (res) {
                    // 清理上一次操作产生的权限标签
                    $('#list').find('span').remove();

                    // 增加权限标签
                    $.each(res.roleInfoList, function (_, obj) {
                        $('#list').append('<span class="layui-badge layui-bg-blue">' + obj.name + '</span>\n');
                    });
                });
            });

            form.on('switch(status)', function (data) {
                var id = $(data.elem).data('id');
                var enabled = data.elem.checked;
                var $form = $('#statusForm');
                $form.find('input[name="id"]').val(id);
                $form.find('input[name="enabled"]').val(enabled);
                $form.submit();
            });

            //执行一个laypage实例
            laypage.render({
                elem: 'pagination', //注意，这里的 test1 是 ID，不用加 # 号
                curr: pageInfo.pageNum,
                count: pageInfo.total, //数据总数，从服务端得到
                limit: pageInfo.pageSize,
                layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip'],
                jump: function (obj, first) {
                    //obj包含了当前分页的所有参数，比如：
                    // console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                    // console.log(obj.limit); //得到每页显示的条数

                    //首次不执行
                    if (!first) {
                        //do something
                        location.href = location.origin + location.pathname + '?page=' + obj.curr + '&size=' + obj.limit + '&username=' + $('#username').val();
                    }
                }
            });

            $('#search').click(function () {
                location.href = location.origin + location.pathname + '?page=1&size=' + pageInfo.pageSize + '&username=' + $('#username').val();
            });
        });
        /*]]>*/
    </script>
</div>
</body>
</html>