<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="zh-CN" layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="layui-header" layout:fragment="header">
            <div class="layui-logo">layui 后台布局</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a th:href="@{/home}">控制台</a></li>
                <li class="layui-nav-item"><a th:href="@{/users/page}">用户管理</a></li>
                <li class="layui-nav-item"><a th:href="@{/roles/page}">角色管理</a></li>
                <li class="layui-nav-item"><a th:href="@{/authorities/page}">权限管理</a></li>
                <li class="layui-nav-item"><a th:href="@{/resources/page}">资源管理</a></li>
                <!--<li class="layui-nav-item">-->
                    <!--<a href="javascript:;">权限维护</a>-->
                    <!--<dl class="layui-nav-child">-->
                        <!--<dd><a href="">用户角色管理</a></dd>-->
                        <!--<dd><a href="">角色权限管理</a></dd>-->
                        <!--<dd><a href="">权限资源管理</a></dd>-->
                    <!--</dl>-->
                <!--</li>-->
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img th:src="@{/img/avatar.jpg}" class="layui-nav-img">
                        <span th:text="${#authentication.name}">刀之哀伤</span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <form id="logoutForm" th:action="@{/logout}" method="post">
                        <a href="javascript:;" id="logoutBtn" lay-filter="logout">退了</a>
                    </form>
                </li>
            </ul>

            <script type="text/javascript">
                $(function () {
                    // 显示当前菜单
                    $('.layui-nav .layui-nav-item a').each(function (_, item) {
                        var href = $(item).attr('href');
                        if (href === location.pathname) {
                            $(this).addClass('layui-this');
                        }
                    });

                    // 绑定退出按钮点击事件
                    $('#logoutBtn').click(function () {
                        $('#logoutForm').submit();
                    });
                });
            </script>
        </div>
    </body>
</html>