<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Layui 模板系统</title>

        <!-- JQuery core JavaScript -->
        <script th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>

        <!-- Font Awesome -->
        <link th:href="@{/webjars/font-awesome/5.0.13/web-fonts-with-css/css/fontawesome-all.min.css}" rel="stylesheet">

        <!-- moment -->
        <script th:src="@{/webjars/momentjs/2.22.1/min/moment-with-locales.min.js}"></script>

        <!-- zTree -->
        <link th:href="@{/vendor/zTree/3.5.33/css/zTreeStyle/zTreeStyle.css}" rel="stylesheet"/>
        <script th:src="@{/vendor/zTree/3.5.33/js/jquery.ztree.all.min.js}"></script>

        <!-- Layui -->
        <link th:href="@{/webjars/layui/2.3.0/css/layui.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/layui/2.3.0/layui.js}"></script>

        <!-- layui-form-selects -->
        <script th:src="@{/vendor/layui-form-selects/formSelects-v4.js}"></script>

        <!-- Custom styles for this template -->
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <!-- Common JavaScript -->
        <script th:src="@{/js/script.js}"></script>
    </head>
    <body class="layui-layout-body">
        <a id="baseUrl" th:href="@{/}"></a>

        <!-- 页面布局 -->
        <div class="layui-layout layui-layout-admin">
            <!-- 导航条顶部 -->
            <div layout:replace="~{layout/header :: header}"></div>

            <!-- 侧边菜单 -->
            <div layout:replace="~{layout/sidebar :: sidebar}"></div>

            <!-- 内容主体区域 -->
            <div class="layui-body">
                <!-- 内容主体区域 -->
                <div style="padding: 15px;" layout:fragment="content"></div>
            </div>

            <div layout:replace="~{layout/footer :: footer}"></div>
        </div>
        <script type="text/javascript">
            layui.use('element', function () {
                var element = layui.element;
            });
        </script>
    </body>
</html>