<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="zh-CN" layout:decorate="~{layout/layout}">
<head>
    <title>权限管理</title>
</head>
<body>
<div layout:fragment="content">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>编辑权限</legend>
    </fieldset>
    <form class="layui-form" th:action="@{/authorities/update}" method="post" lay-filter="dataForm">
        <input type="hidden" name="id" th:value="${item.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" th:value="${item.name}" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">资源</label>
            <div class="layui-input-block" style="width: 515px;">
                <select id="resources" name="resources" lay-verify="required" xm-select="resources">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">保存</button>
                <a th:href="@{/authorities/page}" class="layui-btn layui-btn-primary">返回</a>
            </div>
        </div>
    </form>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var item = [[${item}]];
        var resourceList = [[${resourceList}]];

        layui.use(['element'], function(){
            var formSelects = layui.formSelects;

            //local模式
            formSelects.data('resources', 'local', {
                arr: $.map(resourceList, function (obj) {
                    obj.value = obj.value || obj.id;
                    return obj;
                })
            });

            // 设置选中项
            formSelects.value('resources', $.map(item.resourceInfoList, function (obj) {
                return obj.id;
            }));
        });
        /*]]>*/
    </script>
</div>
</body>
</html>