<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="zh-CN" layout:decorate="~{layout/layout}">
<head>
    <title>权限管理</title>
</head>
<body>
<div layout:fragment="content">
    <div>
        <a th:href="@{/authorities/add}" class="layui-btn"><i class="layui-icon"></i>添加</a>
        名称：
        <div class="layui-inline">
            <input class="layui-input" name="name" id="name" th:value="${name}" autocomplete="off">
        </div>
        <button class="layui-btn" id="search">搜索</button>
    </div>

    <table class="layui-hide" id="data_table"></table>
    <div id="pagination"></div>

    <blockquote class="layui-elem-quote">
        <span>点击名称查询资源列表</span>
        <div id="list"></div>
    </blockquote>

    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var pageInfo = [[${pageInfo}]];
        layui.use(['table', 'laypage'], function(){
            var table = layui.table,
                laypage = layui.laypage;

            //方法级渲染
            table.render({
                elem: '#data_table',
                data: pageInfo.list,
                cols: [
                    [
                        {checkbox: true, fixed: true}
                        ,{field:'id', title: 'ID', width:300, sort: true, fixed: true}
                        ,{field:'name', title: '名称', templet: function (d) {
                            return '<a href="javascript:;" data-id="' + d.id + '" name="name">' + d.name + '</a>';
                        }}
                        ,{field:'operation', title: '操作', templet: function (d) {
                            return '<div class="layui-btn-group">' +
                                '<a href="' + baseUrl + 'authorities/edit/' + d.id + '" class="layui-btn layui-btn-warm layui-btn-sm"><i class="layui-icon">&#xe642;</i></a>' +
                                '<a href="' + baseUrl + 'authorities/delete/' + d.id + '" class="layui-btn layui-btn-danger layui-btn-sm"><i class="layui-icon">&#xe640;</i></a>' +
                                '</div>'
                        }}
                    ]
                ]
            });

            $('table').on('click', 'a[name="name"]', function () {
                $.getJSON(baseUrl + 'authorities/info/' + $(this).data('id'), function (res) {
                    // 清理上一次操作产生的权限标签
                    $('#list').find('span').remove();

                    // 增加权限标签
                    $.each(res.resourceInfoList, function (_, obj) {
                        $('#list').append('<span class="layui-badge layui-bg-blue">' + obj.name + '</span>\n');
                    });
                });
            });

            //执行一个laypage实例
            laypage.render({
                elem: 'pagination', //注意，这里的 test1 是 ID，不用加 # 号
                curr: pageInfo.pageNum,
                count: pageInfo.total, //数据总数，从服务端得到
                limit: pageInfo.pageSize,
                layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip'],
                jump: function (obj, first) {
                    //obj包含了当前分页的所有参数，比如：
                    // console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                    // console.log(obj.limit); //得到每页显示的条数

                    //首次不执行
                    if (!first) {
                        //do something
                        location.href = location.origin + location.pathname + '?page=' + obj.curr + '&size=' + obj.limit + '&username=' + $('#username').val();
                    }
                }
            });

            $('#search').click(function () {
                location.href = location.origin + location.pathname + '?page=1&size=' + pageInfo.pageSize + '&username=' + $('#username').val();
            });
        });
        /*]]>*/
    </script>
</div>
</body>
</html>