<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/webjars/layui/2.3.0/css/layui.css}" media="all">
</head>
<body>

<div style="padding: 20px; background-color: #F2F2F2; margin-top: 75px;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md4"></div>
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">用户登录</div>
                <div class="layui-card-body">
                    <form class="layui-form" th:action="@{/login}" method="post">
                        <div class="layui-form-item">
                            <label class="layui-form-label">账号</label>
                            <div class="layui-input-block">
                                <input type="text" id="username" name="username" lay-verify="required" autocomplete="off" placeholder="请输入您的账号" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">密码</label>
                            <div class="layui-input-block">
                                <input type="text" id="password" name="password" lay-verify="required" placeholder="请输入您的密码" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="">登录</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md4"></div>
    </div>
</div>

<script th:src="@{/webjars/layui/2.3.0/layui.js}"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form;
    });
</script>
</body>
</html>