<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="zh-CN" layout:decorate="~{layout/layout}">
<head>
    <title>用户管理</title>
</head>
<body>
<div layout:fragment="content">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>编辑角色</legend>
    </fieldset>
    <form class="layui-form" th:action="@{/roles/update}" method="post" lay-filter="dataForm">
        <input type="hidden" name="id" th:value="${item.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" th:value="${item.name}" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">权限</label>
            <div class="layui-input-block" style="width: 515px;">
                <select id="authorities" name="authorities" lay-verify="required" xm-select="authorities">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">保存</button>
                <a th:href="@{/roles/page}" class="layui-btn layui-btn-primary">返回</a>
            </div>
        </div>
    </form>

    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var item = [[${item}]];
        var authorityList = [[${authorityList}]];
        layui.use(['form', 'laydate'], function(){
            var formSelects = layui.formSelects;

            //local模式
            formSelects.data('authorities', 'local', {
                arr: $.map(authorityList, function (obj) {
                    obj.value = obj.value || obj.id;
                    return obj;
                })
            });

            // 设置选中的角色
            formSelects.value('authorities', $.map(item.authorityInfoList, function (obj) {
                return obj.id;
            }));
        });
        /*]]>*/
    </script>
</div>
</body>
</html>